<app-loading *ngIf="showLoader"></app-loading>
<br/>
<div class="container main-wpr">
    <div class="row">
        <div class="col-xs-12 col-md-3 list-wpr">
            <div class="list-head">
                <h4 class="text-center" style="padding:10px">Customers</h4>
            </div>
            <div style="padding:10px">
                <ul class="list-group">
                    <li (click)="onSelect(i)" *ngFor="let client of clientData;let i=index" class="list-group-item clItem cursor">
                        {{client?.client_name | titlecase}}<span class="ml-auto" >{{client?.nodes.length}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-md-9 edit-block-wpr">
            <div class="list-head">
                <h4 class="ml-3" style="padding:10px">Edit details</h4>
            </div>
            <div id="edit-inr-wpr">
                <ng-container *ngIf="present_edit !== null;else notSelected">
                    <!-- EDIT OPTIONS -->
                    <h4>{{present_edit.client_name}}</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <h6>
                                <b>Device ids allocated</b>
                                <p class="mt-2" style="font-size:0.8em">Select the ids to remove.</p>
                                <button *ngIf="deletedNodes.length > 0" (click)="onNodeRemove()" class="btn btn-sm btn-danger">remove</button>
                            </h6>
                            <div *ngFor="let node of present_edit['nodes'];let i=index">
                                {{node}}&nbsp;
                                <input type="checkbox" (change)="onNodeCheck($event)" value="{{node}}">
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 add-device-wpr">
                            <button type="button" class="btn btn-primary" (click)="onAddDevice()">
                                <i class="fa fa-plus"></i> Add new device
                            </button>

                            <div *ngIf="addDevice" style="width:250px;margin-top:20px" class="form-group">
                                <input #devieId ngModel class="form-control form-control-sm" type="text" placeholder="enter the device id" name="deviceId" >
                            <button class="btn btn-success btn-sm mt-3" type="button" (click)="onFinalizeAdd(devieId.value)">Add</button>
                            <button class="btn btn-danger btn-sm mt-3 ml-2" type="button" (click)="onCancelAdd()">Cancel</button>
                            </div>
                        </div>

                    </div>
                </ng-container>

                <ng-template #notSelected>
                    <h5 class="text-center" style="color:gray">Please select the customer to edit.</h5>
                </ng-template>
            </div>
        </div>
    </div>


</div>